/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font Settings */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0 20px;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ff6347; /* Tomato color for hover */
}

/* About Section */
#about {
    background-color: white;
    padding: 40px 20px;
    margin-top: 20px;
    border-radius: 8px;
}

#about h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#about p {
    font-size: 1.2em;
    line-height: 1.8;
}

/* Projects Section */
#projects {
    padding: 40px 20px;
    margin-top: 20px;
}

.project-category {
    margin-bottom: 30px;
}

.project-category h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 1.8em;
    margin-bottom: 5px;
}

.project a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.project a:hover {
    color: #ff6347;
}

.project p {
    font-size: 1.1em;
    line-height: 1.6;
}

.project img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Contact Section */
#contact {
    background-color: white;
    padding: 40px 20px;
    margin-top: 20px;
    border-radius: 8px;
}

#contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

#contact p {
    font-size: 1.2em;
    line-height: 1.8;
}

#contact a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    color: #ff6347;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    margin-top: 40px;
}

footer p {
    font-size: 1em;

